[Desktop Action Play]
Exec=k9copy --input %u
Icon=k9copy
Name=Copy with k9copy
Name[fr]=Copier avec k9copy
Name[de]=Kopieren mit k9copy


[Desktop Entry]
Actions=Play;
Icon=
ServiceTypes=media/dvdvideo
