[Desktop Action Play]
Exec=k9copy --input %u
Icon=k9copy.png
Name=Copy with k9copy
Name[fr]=Copier avec k9copy
Name[de]=Kopieren mit k9copy
Name[tr]=k9copy ile kopyala

[Desktop Entry]
Actions=Play;
ServiceTypes=media/dvdvideo
