[Desktop Entry]
Encoding=UTF-U
Type=Application
Name=k9copy
Exec=k9copy -caption "%c" %i %m  %u
Comment=DVD9 to DVD5 backup tool
GenericName=Video DVD Backup
Comment[fr]=Backup de DVD9 en DVD5
GenericName[fr]=Backup de DVD Video
MimeTypes=
Terminal=false
Icon=k9copy.png
DocPath=k9copy/index.html
Categories=KDE;Application;AudioVideo;DiscBurning;
X-KDE-StartupNotify=true